<h1>Posts</h1>
<div class="container-posts">
  <table>
    <tr>
      <th>Title</th>
      <th>Question</th>
      <th colspan="2"></th>
    </tr>

    <% @posts.each do |post| %>
      <div class="container-post">
        <tr>
          <td><%= link_to "#{post.title}", post_path(post) %></td>
          <td><%= post.content %></td>
        </tr>
      </div>
    <% end %>
  </table>
</div>
<%= link_to 'New Post', new_post_path %>
