<h1>Business OverFlow</h1>
<div class="container-posts">
  <table>
    <tr>
      <th>Questions</th>
      <th colspan="2"></th>
    </tr>

    <% @posts.each do |post| %>
        <tr>
            <td><%= link_to "#{post.title}", post_path(post) %></td>
              <% if current_user.id == post.user.id %>
                <td><%= link_to 'Edit', edit_post_path(post)%></td>
                <td><%= link_to 'Delete', post_path(post), method: :delete %></td>
              <% end %>
        </tr>
    <% end %>
  </table>
</div>
<%= link_to 'New Post', new_post_path %>
